@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Open+Sans:wght@400;700;800&display=swap");
/* font-family: 'Nothing You Could Do', cursive;
font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --basic: #222;
  --dark: #070e1f;
  --light: #f3f7ff;
  --accent: #d1a33f;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--basic);
  font-weight: 400;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 9.6rem;
  font-family: "Nothing You Could Do", cursive;
  color: var(--accent);
  line-height: 1;
}

h2 {
  font-weight: 800;
  font-size: 5rem;
  line-height: 1;
}

h3 {
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 1;
  color: var(--dark);
  text-transform: uppercase;
}

h4 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
  display: block;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.logo img {
  width: 102px;
}

.nav {
  display: flex;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  gap: 60px;
}

/* slide */
.slide_wrapper {
  position: relative;
}

.slide {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide.item_01 {
  background-image: url("../images/slide_01.jpg");
}

.slide.item_02 {
  background-image: url("../images/slide_02.jpg");
}

.slide.item_03 {
  background-image: url("../images/slide_03.jpg");
}

.slide_text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.sun {
  font-size: 1.8rem;
  margin: 0 10px;
  color: var(--accent);
}

.line_left,
.line_right {
  width: 100%;
  max-width: 14rem;
  height: 3px;
  background-color: var(--light);
  position: relative;
}

.line_left::before,
.line_right::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 10px solid transparent;
}

.line_left::before {
  left: 0;
  border-left-color: var(--light);
}

.line_right::before {
  right: 0;
  border-right-color: var(--light);
}

.sub_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.sub_text p {
  font-size: 1.4rem;
}

.sub_text .btn {
  font-size: 1.4rem;
  color: var(--dark);
  padding: 10px 22px;
  background-color: var(--light);
  border-radius: 6px;
}

/* our_story */
.inner {
  /* width: 1180px; */
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.section {
  padding: 120px 30px;
}

.section .inner > div {
  width: 50%;
}

.section .info {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.go_btn {
  font-size: 1.6rem;
  color: var(--accent);
  position: relative;
  margin-top: 40px;
}

.go_btn::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent);
}

/* banner */
.banner {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner.item_01 {
  background-image: url("../images/slide_02.jpg");
}

.banner.item_02 {
  background-image: url("../images/slide_03.jpg");
}

.banner > div {
  text-align: center;
}

.banner .light {
  color: var(--light);
}

/* travel, yourself */
.travel .photo,
.yourself .photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* footer */
footer {
  padding: 70px 0 110px;
  background-color: var(--dark);
  color: var(--light);
}
